/*---------------common style----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/*-----------nav style-----------*/
.logo-container,
.footer-logo-container {
    display: flex;
    align-items: center;
}

.logo,
.footer-logo {
    width: 86px;
    height: 40px;
    margin-right: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 240px;
    align-items: center;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-title,
.footer-logo-title {
    font-size: 45px;
    font-weight: 700;

}

.gamer {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items-container {
    display: flex;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    margin-right: 32px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
}

.fa-youtube {
    margin-left: 24px;
    color: #F61C0D;
}

.fa-tiktok {
    margin-left: 16px;
}

/*----------banner style------------*/
.banner {
    padding: 19px 240px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-heading {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-desc {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 17px;
}

.banner-icon {
    margin-right: 12px;
}

.btn {
    border-radius: 48px;
    padding: 21px 40px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 24px;
    margin-top: 24px;
    display: inline;
}

.btn-primary {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-secondary {
    background-color: #4EC5F7;
}

/*--------------funny videos------------*/
.funny-videos{
    padding: 0 240px;
}
.funny-videos-title{
    margin-bottom: 16px;
}
.funny-videos-desc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.funny-videos-content {
    text-align: center;
    margin-top: 120px;
}

.card {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s ease;
}

.card:hover .overlay {
    height: 100%;
    border: 2px solid #FF42A5;
}

.overlay img,
.overlay h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.overlay h4 {
    color: #FF42A5;
    top: 60%;
}

.caption {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
    
}
.funny-videos-card{
    display: flex;
    gap: 24px;
}
/*-------------online games----------*/
.online-games {
    display: flex;
    padding: 120px 240px;
    justify-content: space-between;
    align-items: center;
}

.online-games-img {
    position: relative;
}

.games-img-one {
    width: 80%;
}

.games-img-two {
    position: absolute;
    right: -20px;
    bottom: -50px;
    width: 40%;
}

.online-games-title,
.funny-videos-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-games,
.videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-desc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/*-----------popular games-----------*/
.popular-games {
    padding: 120px 249px;
}

.popular-games-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    padding: 8px 10px;
}

.popular-games-container:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;


}

.popular-games-container:hover .popular-games-name {
    color: #FF42A5;
}

.popular-games-name {
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
    margin-left: 18px;
}

.popular-flex-container {
    display: flex;
    margin-bottom: 27px;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
}



/*-----------footer-----------*/
.footer {
    background-color: #0B0223;
    text-align: center;
}

.amer {
    color: #fff;
}

.footer-nav {
    margin-bottom: 66px;
    display: flex;
    justify-content: center;
}

.footer-nav a {
    text-decoration: none;
    margin-right: 60px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.social-icon-container {
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}

.social-icon-items {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    color: #fff;
}

.policy {
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
}

.policy a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 60px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 130px;
}

.footer-logo-container {
    margin-bottom: 66px;
    margin-top: 120px;
    display: inline-flex;
}








/*-------------media query--------------*/
/*------------tablet device-----------*/
@media screen and (min-width:577px) and (max-width:1023px) {
    .nav-container{
        padding: 30px;
    }
    .nav-container,
    .nav-items-container {
        flex-direction: column;
    }
    .banner,.funny-videos{
        padding: 30px;
    }
    .banner-image{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .funny-videos-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .online-games{
        flex-direction: column-reverse;
        padding: 30px;
    }
    .online-games-content{
        margin-bottom: 40px;
    }
    .popular-flex-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    .popular-games{
        padding: 30px;
    }
    .footer-nav {
        flex-wrap: wrap;
        padding: 20px;
        gap: 30px;
    }
}
/*---------------mobile device--------------*/
@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-container {
        padding: 0 30px;
        text-align: center;
        margin-top: 50px;
    }

    .nav-items-container a {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 19px 0 0 0;
    }

    .btn {
        display: inline;
    }

    .banner-img {
        margin-bottom: 50px;
        width: 100%;
    }

    .banner-image {
        margin-left: 0;
        width: 100%;
    }

    .online-games {
        flex-direction: column-reverse;
        padding: 30px;
    }

    .online-games-content {
        text-align: center;
        margin-bottom: 30px;
    }

    .popular-flex-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .popular-games {
        padding: 50px 5px 0;
    }

    .popular-games-name {
        font-size: 8px;
        margin-left: 2px;
    }

    .popular-games-container img {
        width: 30px;
        height: 30px;
    }

    .footer-nav {
        flex-wrap: wrap;
        padding: 20px;
    }

    .footer-nav a {
        margin-right: 30px;
    }

    .social-icon-container {
        flex-wrap: wrap;
        gap: 30px;
        padding-left: 30px;
    }

    .social-icon-items {
        margin-right: 60px;
    }

    .policy {
        flex-wrap: wrap;
        gap: 20px;
    }

    .copyright {
        margin-top: 50px;
        width: 300px;
        padding-left: 60px;
    }
    .funny-videos-card{
        flex-direction: column;
    }
    .funny-videos{
        padding: 30px;
    }
    .caption{
        text-align: center;
    }
}